{% extends "base.html" %}

{% block content %}
<h2>
	<div>
		<span><a href="{{ config.base_url }}">Home</a></span>
	  <span><a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></span>
	</div>
</h2>
<h1 class="title">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}